appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
autopep8==1.5
black==19.10b0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.1
decorator==4.4.0
distlib==0.3.0
docopt==0.6.2
dokuwiki==1.2.1
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
frida==12.8.7
frida-tools==6.0.0
greenlet==0.4.15
idna==2.8
isort==4.3.21
jedi==0.15.2
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==1.0.0
mypy-extensions==0.4.3
parso==0.6.2
pathspec==0.7.0
pipenv==2018.11.26
pluggy==0.13.1
prompt-toolkit==2.0.10
protonvpn-cli==2.2.1
psutil==5.6.3
pycodestyle==2.5.0
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.5.2
pylint==2.4.4
pynvim==0.4.1
pyte==0.8.0
python-jsonrpc-server==0.3.4
python-language-server==0.31.8
pythondialog==3.5.1
regex==2020.2.20
requests==2.22.0
rope==0.16.0
six==1.12.0
snowballstemmer==2.0.0
thefuck==3.29
toml==0.10.0
typed-ast==1.4.1
typing-extensions==3.7.4.2
ujson==1.35
urllib3==1.25.8
virtualenv==20.0.16
virtualenv-clone==0.5.4
wcwidth==0.1.7
wrapt==1.11.2
yapf==0.29.0
