.item {
  display: block;
  cursor: pointer;
  padding: 0.2em 5px;
  user-select: none;

  &:hover {
    background-color: #78acf1;
  }
  &.active {
    background-color: #10c998 !important;
  }

  &.ghost {
    opacity: 0.5;
  }

  &.played {
    background-color: #ddd;
    .icon {
      border: 4px black solid;
    }
  }

  .icon {
    margin: auto auto;
    margin-bottom: -3px;
    height: 18px;
    width: 18px;
    display: inline-block;
    border-radius: 50%;

    &.central {
      background-color: green;
    }
    &.aux {
      background-color: #07f;
    }
    &.ghost {
      background-color: gray;
    }
  }
}
