/* Stuff to get the nav to collapse at 991px (when the menu collapses)
 * Taken from http://stackoverflow.com/a/36289507/995325 */

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

.navbar-nav {
  margin: 0;
}

.navbar-main {
  background-color: #2d425f;
  border-color: #2d425f;
  border: none;
  max-height: 7vh;
  flex-shrink: 0;

  .nav-vu {
    background: black;
  }

  .nav-spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
/** MyRadio bootstrap navbar overides taken from http://work.smarchal.com/twbscolor/css/2D425F2D425Fffffffe1e1e11 **/

.navbar-myradio {
  background-color: #2d333c;
  border-color: #2d425f;
  border: none;
  max-height: 7vh;
  flex-shrink: 0;
}

.navbar-myradio .navbar-brand {
  color: #ffffff;
  padding: 10px 15px;
  /** added to center the logo **/
  line-height: 30px;
  /** added to center the logo **/
  margin-right: 0;
}

.navbar-myradio .navbar-brand img {
  max-height: 100%;
}

.navbar-myradio .navbar-brand:hover,
.navbar-myradio .navbar-brand:focus {
  color: #e1e1e1;
}

.navbar-myradio .navbar-brand.divider {
  border-right: 1px white solid;
  margin: 14px 0;
  height: 22px;
  padding: 0;
}

.navbar-myradio .navbar-text {
  color: #ffffff;
}

.navbar-myradio .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-myradio .navbar-nav > li.nav-img {
  height: 50px;
}

.navbar-myradio .navbar-nav > li.nav-img > a {
  height: 100%;
  padding: 10px 10px;
}

.navbar-myradio .navbar-nav > li.nav-img > a > img {
  height: 100%;
}

.navbar-myradio .navbar-nav .caret {
  margin-left: 5px;
}

.navbar-myradio .navbar-nav .glyphicon {
  margin-right: 5px;
}

.navbar-myradio .navbar-nav > li > a:hover,
.navbar-myradio .navbar-nav > li > a:focus {
  color: #e1e1e1;
  background-color: #2d425f;
}

.navbar-myradio .navbar-nav > li > .dropdown-menu {
  background-color: #2d333c;
  border-top: none;
}

.navbar-myradio .navbar-nav > li > .dropdown-menu > .dropdown-item {
  color: #ffffff;
}

.navbar-myradio .navbar-nav > li > .dropdown-menu > .dropdown-item:hover,
.navbar-myradio .navbar-nav > li > .dropdown-menu > .dropdown-item:focus {
  color: #e1e1e1;
  background-color: #2d425f;
}

.navbar-myradio .navbar-nav > li > .dropdown-menu > .divider {
  background-color: #2d425f;
}

.navbar-myradio .navbar-nav .open .dropdown-menu > .active > .dropdown-item,
.navbar-myradio
  .navbar-nav
  .open
  .dropdown-menu
  > .active
  > .dropdown-item:hover,
.navbar-myradio
  .navbar-nav
  .open
  .dropdown-menu
  > .active
  > .dropdown-item:focus {
  color: #e1e1e1;
  background-color: #2d333c;
}

.navbar-myradio .navbar-nav > .active > .dropdown-item,
.navbar-myradio .navbar-nav > .active > .dropdown-item:hover,
.navbar-myradio .navbar-nav > .active > .dropdown-item:focus {
  color: #e1e1e1;
  background-color: #2d333c;
}

.navbar-myradio .navbar-nav > .open > .dropdown-item,
.navbar-myradio .navbar-nav > .open > .dropdown-item:hover,
.navbar-myradio .navbar-nav > .open > .dropdown-item:focus {
  color: #e1e1e1;
  background-color: #2d425f !important;
}

.navbar-myradio .navbar-toggle {
  border-color: #2d425f;
}

.navbar-myradio .navbar-toggle:hover,
.navbar-myradio .navbar-toggle:focus {
  background-color: #2d425f;
}

.navbar-myradio .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-myradio .navbar-collapse,
.navbar-myradio .navbar-form {
  border-color: #ffffff;
}

.navbar-myradio .navbar-link {
  color: #ffffff;
}

.navbar-myradio .navbar-link:hover {
  color: #e1e1e1;
}

.navbar-myradio .navbar-brand:hover {
  color: #e1e1e1;
  background-color: #2d425f !important;
}

@media (max-width: 767px) {
  .navbar-myradio .navbar-nav .open .dropdown-menu > li > .dropdown-item {
    color: #ffffff;
  }
  .navbar-myradio .navbar-nav .open .dropdown-menu > li > .dropdown-item:hover,
  .navbar-myradio .navbar-nav .open .dropdown-menu > li > .dropdown-item:focus {
    color: #e1e1e1;
  }
  .navbar-myradio .navbar-nav .open .dropdown-menu > .active > .dropdown-item,
  .navbar-myradio
    .navbar-nav
    .open
    .dropdown-menu
    > .active
    > .dropdown-item:hover,
  .navbar-myradio
    .navbar-nav
    .open
    .dropdown-menu
    > .active
    > .dropdown-item:focus {
    color: #e1e1e1;
    background-color: #2d425f;
  }
}

.alertbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 38.5px;
  z-index: 99999;
  transform: translateY(-50px);
  transition: 400ms transform;
  &.visible {
    transform: translateY(0);
  }
}

.logo-hover {
  position: relative;
  .logo-myradio {
    opacity: 0;
    position: absolute;
    left: 25px;
    transition: 0.4s;
    height: 32px;
  }
  .logo-webstudio {
    opacity: 1;
    transition: 0.4s;
    height: 28px;
    margin-top: -5px;
  }
  &:hover {
    .logo-myradio {
      opacity: 1;
    }
    .logo-webstudio {
      opacity: 0;
    }
  }
}

.nav-link.connect {
  min-width: 90px;
}

.pfl-live.nav-vu {
  box-shadow: inset 0 0 3px 6px #dc3545;
  padding-top: 6px;
}
