#timelord {
  background: black;
  border: red 1px solid;
  color: white;
  min-width: 85px;
}

#timelord a {
  text-decoration: none;
  color: white;
}

#timelord time {
  font-weight: bold;
  font-size: 1.2em;
}
