.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sp-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: .5%;
  margin-right: .5%;
}

.sp-main-col.active {
  margin-right: -250px;
}


html, body, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.react-contextmenu--visible {
  background-color: white;
  padding: 0.7em;
  border: 1.5px solid grey;
  box-shadow: 3px 3px 6px grey;
}

.react-contextmenu-item {
  cursor: pointer;
}

.react-contextmenu-item--disabled {
  cursor: not-allowed;
}

.mediaButtons button{
  width: 32%;
  border-style: none;
  margin: .5%;
  padding: 2%;
}

.sp-state-playing {
  background-color: #2cdb2c;
}

.sp-state-paused {
  background-color: #dbbb2c;
}

.player.loaded .sp-state-stopped {
  background-color: #db2c2c;
}

button{
  background-color: rgb(199, 199, 199);
}

.sp-alert {
  display: block;
  color: white;
  background-color: #e6463e;
  padding: 0.3em;
}

.waveform span {
  float: left;
  position: relative;
  display: block;
  z-index: 5;
  /* padding: 1px; */

}
.waveform .current, .waveform .remaining, .waveform .length {

  font-weight: 800;

}
.waveform .remaining, .waveform .outro {
  right: 0;
  position: absolute;

}
.waveform .intro, .waveform .outro, .waveform .length  {
  bottom: 0;
  position: absolute;
}
.waveform .length {
  text-align: center;
  width: 100%;
}
.waveform {
  height: 6vh;
}
.waveform .graph {
  position: absolute;
  height: 6vh;
  width: 100%;
  overflow: hidden;
}
.waveform .graph wave {
  height: 6vh !important;
}
.waveform .loading {
  background: #CCCCFF;
}

.bypass-click {
  pointer-events: none;
}

/* Flash class and keyframe animation */
.sp-ending-soon {
	-webkit-animation: flash steps(1) 0.5s infinite;
	animation: flash steps(1) 0.5s infinite;
}
@-webkit-keyframes flash {
	0% { }
	50% { background-color: rgb(199, 255, 199); }
}
@keyframes flash {
  0% { }
  50% { background-color: rgb(199, 255, 199); }
}

.ReactModal__Overlay {
  z-index: 10000;
}

.sp-mic-live {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9000;
  pointer-events: none;
  box-shadow: inset 0 0 3px 6px red;
}