@import "./scss/base";

.sp {
  display: grid;
  grid-template-areas: "channels sb-tg sb";
  grid-template-columns: 1fr auto auto;
  grid-template-rows: 100%;
  overflow: hidden;
  background: var(--background);

  .channels {
    display: grid;
    grid-area: channels;
    grid-template-areas: "ch-0 ch-1 ch-2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 10px;

    #channel-0 {
      grid-area: ch-0;
    }

    #channel-1 {
      grid-area: ch-1;
    }

    #channel-2 {
      grid-area: ch-2;
    }
  }

  #sidebar {
    grid-area: sb;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    transition: all 0.3s;

    &.active {
      width: 0;
    }

    .library-column {
      flex-grow: 1;
      min-height: 0;
      background: var(--sidebar-background);
      display: flex;
      flex-direction: column;
    }

    .mic-control {
      background: var(--sidebar-background);
    }
  }

  #sidebar-toggle {
    grid-area: sb-tg;
    writing-mode: vertical-rl;
    height: 100%;
  }
}
