.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.sp-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: .5%;
  margin-right: .5%;
}

.sp {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.sp-col {
  display: block;
  height: 80%;
  overflow-y: scroll;
  border: 1px solid black;
  margin-left: .2vw;
  margin-right: .2vw;
  padding: .2vw;
}

.sp-main-col{
  flex: 1;
}

.sp-col-inner {
  height: 99%;
}

.sp-track {
  display: block;
  /* overflow-x: hidden; */
  /* height: 1.6em; */
  margin: 0.2em 0;
  /* overflow: hidden; */
  /* height: 1.3em; */
  cursor: pointer;
}

.sp-track:hover {
  background-color: #78acf1;
}

.sp-track-active {
  background-color: #10c998;
}

html, body, #root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.react-contextmenu--visible {
  background-color: white;
  padding: 0.7em;
  border: 1.5px solid grey;
  box-shadow: 3px 3px 6px grey;
}

.react-contextmenu-item {
  cursor: pointer;
}

.react-contextmenu-item--disabled {
  cursor: not-allowed;
}

.mediaButtons button{
  width: 32%;
  height: 95%;
  border-radius: 20%;
  border-style: none;
  margin: .5%;
}

.sp-state-playing {
  background-color: #2cdb2c;
}

.sp-state-paused {
  background-color: #dbbb2c;
}

.sp-state-stopped {
  background-color: #db2c2c;
}

button{
  background-color: rgb(199, 199, 199);
}

.player div {
  height: 16%;
  overflow-x: hidden;
}