body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Stuff to get the nav to collapse at 991px (when the menu collapses)
 * Taken from http://stackoverflow.com/a/36289507/995325 */
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left, .navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none !important;
  }
  .navbar-nav {
      float: none !important;
      margin-top: 7.5px;
  }
  .navbar-nav > li {
      float: none;
  }
  .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in {
      display: block !important;
  }
}
/** MyRadio bootstrap navbar overides taken from http://work.smarchal.com/twbscolor/css/2D425F2D425Fffffffe1e1e11 **/
.navbar-ury {
  background-color: #2D333C;
  border-color: #2D425F;
  border: none;
}
.navbar-ury .navbar-brand {
  color: #ffffff;
  padding: 10px 15px; /** added to center the logo **/
  line-height: 30px;  /** added to center the logo **/
  margin-right: 0;

}
.navbar-ury .navbar-brand img {
  max-height: 100%;
}
.navbar-ury .navbar-brand:hover,
.navbar-ury .navbar-brand:focus {
  color: #e1e1e1;
}
.navbar-ury .navbar-brand.divider {
  border-right: 1px white solid;
  margin: 14px 0;
  height: 22px;
  padding: 0;
}
.navbar-ury .navbar-text {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li.nav-img {
  height: 50px;
}
.navbar-ury .navbar-nav > li.nav-img > a {
  height: 100%;
  padding: 10px 10px;
}
.navbar-ury .navbar-nav > li.nav-img > a > img {
  height: 100%;
}
.navbar-ury .navbar-nav .caret {
  margin-left: 5px;
}
.navbar-ury .navbar-nav .glyphicon {
  margin-right: 5px;
}

.navbar-ury .navbar-nav > li > a:hover,
.navbar-ury .navbar-nav > li > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > li > .dropdown-menu {
  background-color: #2D425F;
  border-top: none;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-ury .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #2D425F;
}
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a,
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-ury .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > .active > a,
.navbar-ury .navbar-nav > .active > a:hover,
.navbar-ury .navbar-nav > .active > a:focus {
  color: #e1e1e1;
  background-color: #2D425F;
}
.navbar-ury .navbar-nav > .open > a,
.navbar-ury .navbar-nav > .open > a:hover,
.navbar-ury .navbar-nav > .open > a:focus {
  color: #e1e1e1;
  background-color: #2D425F !important;
}
.navbar-ury .navbar-toggle {
  border-color: #2D425F;
}
.navbar-ury .navbar-toggle:hover,
.navbar-ury .navbar-toggle:focus {
  background-color: #2D425F;
}
.navbar-ury .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-ury .navbar-collapse,
.navbar-ury .navbar-form {
  border-color: #ffffff;
}
.navbar-ury .navbar-link {
  color: #ffffff;
}
.navbar-ury .navbar-link:hover {
  color: #e1e1e1;
}
.navbar-ury .navbar-brand:hover {
  color: #e1e1e1;
  background-color: #2D425F !important;
}

@media (max-width: 767px) {
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ury .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e1e1e1;
  }
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ury .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e1e1e1;
    background-color: #2D425F;
  }
}
