:root {
  --background: #e2e1e0;
  --channel-background: #ffffff;
  --channel-color: #212529;

  --player-background: #ffffff;
  --player-color: #212529;

  --mixer-backdrop: #78acf1;
  --mixer-backdrop-disabled: #999;
}
