@-webkit-keyframes red-flash {
  0% {
  }
  50% {
    background-color: rgb(255, 199, 199);
  }
}
@keyframes red-flash {
  0% {
  }
  50% {
    background-color: rgb(255, 199, 199);
  }
}

@-webkit-keyframes green-flash {
  0% {
  }
  50% {
    background-color: rgb(199, 255, 199);
  }
}
@keyframes green-flash {
  0% {
  }
  50% {
    background-color: rgb(199, 255, 199);
  }
}

@-webkit-keyframes red-text-flash {
  0% {
  }
  50% {
    color: rgb(255, 0, 0);
  }
}
@keyframes red-text-flash {
  0% {
  }
  50% {
    color: rgb(255, 0, 0);
  }
}
