# This is a basic workflow to help you get started with Actions

name: Checks

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  typescript:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    
    - name: Install dependencies
      run: yarn install --frozen-lockfile

    # Type checks
    - name: TypeScript Error Reporter
      uses: andoshin11/typescript-error-reporter-action@v1.0.2

    # ESLint
    - name: ESLint Action
      uses: hallee/eslint-action@1.0.1

    # Prettier
    - name: Prettify the JS Code
      uses: creyD/prettier_action@v2.1
      with:
        prettier_options: '--write *.{js,ts,tsx}'
        branch: master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
